* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(223, 203, 170);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.header h1 {
    margin: 10px;
    border: 10px;
    padding: 20px;
    font-size: 60px;
}

.header h1 .coborn {
    color: tan;
}

.header .portfolio-links {
    display: inline-block;
    font-size: 25px;
    flex-direction: row;
}

a:link {
    color: rgb(95, 160, 100);
}

a:visited {
    color: black;
}

a:hover {
    color: forestgreen;
}

.hero {
    height: 200px;
    max-width: 100%;
    background-image: url(https://i.pinimg.com/originals/98/3d/bb/983dbb0581744419d62a3df55464a7fc.jpg);
    background-position: center;
}

.hero p {
    text-align: center;
    color: white;
    background-color: tan;
    font-size: 40px;
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    margin-top: 70px;
}

.about-me {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about-me .title {
    width: 33%;
    margin-left: 20px;
    margin-top: 200px;
}
.about-me .vl {
    border-left: 2px solid black;
    display: block;
    height: 400px;
    margin: 0 auto;
    width: 1px;
}

.about-me img {
    max-height: 350px;
    margin-left: 50px;
    margin-top: 30px;
    border: 1px solid black;
}

.about-me:hover img {
    opacity: 0.7;
    transition: .3s ease;
}

.about-me p {
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 75px;
    padding-right: 30px;
}
.about-me-text-content {
    display: flex;
    flex-direction: column;
}
hr {
    border: none;
    border-top: 1px solid black;
    overflow: visible;
    text-align: center;
    height: 50px;
}

.my-works {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.my-works .title {
    width: 33%;
    margin-left: 20px;
    margin-top: 200px;
}

.my-works-text-content {
    display: flex;
    flex-direction: column;
}

.my-works img {
    display: flexbox;
    flex-direction: row;
    max-height: 350px;
    margin: 15px;
    border: 1px;
    max-width 100%;
}

.my-works .cite {
}

.my-works:hover .img-one {
    opacity: 0.7;
    transition: .3s ease;
}

.my-works:hover .img-two {
    opacity: 0.7;
    transition: .3s ease;
}

.my-works:hover .img-three {
    opacity: 0.7;
    transition: .3s ease;
}

.my-works:hover .img-four {
    opacity: 0.7;
    transition: .3s ease;
}

.contact-me {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.contact-me .title {
    width: 33%;
    margin-left: 20px;
}

.contact-me .contact-content {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.contact-me .icons {
    max-height: 30px
}

.contact-me p {
    font-size: 20px;
}

.resume {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

.resume .title {
    width: 33%;
    margin-left: 20px;
}

.resume p{
    font-size: 30px;
    text-align: center;
}